{% extends "base.html" %}
{% load static %}
{% load movies_app_filters_and_tags %}
{% load store_app_filters_and_tags %}

{% block title %}Profile of {{ user.username }} - DVD Store{% endblock title %}

{% block more_css %}
  <link rel="stylesheet" href="{% static 'store_app/css/customer_profile.css' %}" type="text/css">
{% endblock more_css %}

{% block content %}
  <div class="container personal-info-container mt-2 mb-5">
    <h1 class="mb-3" id="personal-info-title">Personal Information</h1>
    <p><span class="personal-info">First Name:</span> {{user.first_name}}</p>
    <p><span class="personal-info">Last Name:</span> {{user.last_name}}</p>
    <p><span class="personal-info">Username:</span> {{user.username}}</p>
    <p><span class="personal-info">Email:</span> {{user.email}}</p>
    <p><span class="personal-info">Phone:</span> {{user.customer.address.phone}}</p>
    <p><span class="personal-info">Address:</span> {{user.customer.address}}</p>
    <p><span class="personal-info">City:</span> {{user.customer.address.city}}</p>
    <p><span class="personal-info">Country:</span> {{user.customer.address.city.country}}</p>
  </div>
  <div class="container">
    <h1 class="mb-3" id="rental-history-title">Rental History</h1>
    {% if rentals %}
      {% for rental in rentals %}
      <div class="row border-bottom py-2">
        <div class="col-sm col-md-4 col-lg-3 film-poster-container">
          <a href="{{ rental.inventory.film.get_absolute_url }}">
           {# path_to_image is a filter defined in movies_app_filters_and_tags #}
           <img class="film-poster" src="{% static rental.inventory.film.title|path_to_image %}" alt="{{rental.inventory.film.title}}">
          </a>
        </div>
        <div class="col-sm col-md-8 col-lg-9 rental-details-container">
          <h3 class="film-title">
            <a href="{{ rental.inventory.film.get_absolute_url }}">{{rental.inventory.film.title}}</a>
          </h3>
          <p><span class="rental-details">Rental date:</span> {{rental.rental_date}}</p>
          <p><span class="rental-details">Return date:</span> {{rental.return_date}}</p>
          {# check_return_date is a filter defined in store_app_filters_and_tags #}
          {% if rental|check_return_date %}
            <p class="fs-4"><span class="badge bg-danger">This DVD has not been returned</span></p>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    {% else %}
    <p>
      No rentals yet, <a class="btn btn-primary rounded-pill" href="{% url 'film_list' %}">rent a film!!</a>
    </p>
    {% endif %}
  </div>
{% endblock content %}
