{% extends "base.html" %}
{% load static %}
{% load movies_app_filters_and_tags %}

{% block title %}Rental - {{ film.title }} {% endblock title %}
{% block more_css %}
  <link rel="stylesheet" href="{% static 'movies_app/css/film_detail.css' %}">
{% endblock more_css %}

{% block content %}
  <div class="container bg-light">
    <div class="row">
      <div class="col">
        <div id="film-poster">
          {# path_to_image is a filter defined in movies_app_filters_and_tags #}
          <img src="{% static film.title|path_to_image %}" alt="{{film.title}}">
          <h2>{{ film.title }}</h2>
        </div>
        <div id="film-info">
          <p><span class="film-details">Description:</span> {{ film.description }}</p>
          <p><span class="film-details">Genre:</span> {{film.filmcategory.category}}</p>
          <p><span class="film-details">Release Year:</span> {{film.release_year}}</p>
          <p><span class="film-details">Language:</span> {{ film.language }}</p>
          <p><span class="film-details">Rating:</span> {{ film.rating }}</p>
          {% if film.original_language %}
            <p><span class="film-details">Original Language:</span> {{ film.original_language }}</p>
          {% endif %}
          {# format_film_length is a custom filter defined in movies_app_filters_and_tags in templatetags folder #}
          <p><span class="film-details">Length:</span> {{ film.length|format_film_length }}</p>
        </div>
        <div class="mb-3">
          {% if film_available %}
            <p class="fs-4"><span class="badge bg-success">Film is available for rental</span></p>
            <p>
              <span class="film-details">Rental rate: </span>${{film.rental_rate}}<br>
              <span class="film-details">Rental duration: </span>{{film.rental_duration}} days<br>
            </p>

            {# This form consist of only the button that triggers the payment procedure #}
            <form method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-primary">Rent Now!!</button>
            </form>
        {% else %}
          <p class="fs-4"><span class="badge bg-danger"></span>Film is not available for rental</p>
        {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
