.film_posters {
    width: 170px;
    height: 170px;
}

.actor_images {
    height: 100px;
    width: 100px;
}

.film_details {
    font-weight: bold;
}

.actor_detail {
    height: 150px;
    width: 150px;
}

.pagination{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.pagination * {
    margin: 0 5px
}