.film_posters {
    height: 150px;
    width: 150px;
}

.actor_images {
    height: 100px;
    width: 100px;
}

.film_details {
    font-weight: bold;
}

.actor_detail {
    height: 150px;
    width: 150px;
}