{% extends "base.html" %}
{% load static %}
{% load movies_app_filters_and_tags %}

{% block title %}DVD Store - The best place to rent your favorite DVDs{% endblock title %}

{% block more_css %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css">
{% endblock more_css %}

{% block header %}
  <header class="home-header">
    <div class="container">
      <div class="row align-items-center text-center text-lg-start">
        <div class="col-12 col-lg-5">
          <h1>DVD Store</h1>
          <h2>The Best Place to Rent Your Favorite DVDs</h2>
          <div class="header-buttons">
            <a class="btn btn-primary me-4" href="{% url 'account_login' %}">Log In</a>
            <a class="btn btn-primary" href="{% url 'account_signup' %}">Sign Up</a>
          </div>
        </div>
        <div class="col-12 col-lg-7 header-img">
          <img src="{% static 'images/dvd-store-vector-removebg.png' %}" alt="DVD Store">
        </div>
      </div>
    </div>
  </header>
{% endblock header %}

{% block content %}
  <section class="film-categories-nav">
    <div class="container">
      <ul class="nav justify-content-center rounded-pill bg-primary-subtle">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'film_list' %}">All DVDs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'action_film_list' %}">Action</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'comedy_film_list' %}">Comedy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'drama_film_list' %}">Drama</a>
        </li>
      </ul>
    </div>
  </section>
  <section class="featured-films">
    <h2>Featured Films</h2>
    <div id="featuredFilmsCarousel" class="carousel slide mt-2" data-bs-ride="carousel">
      <div class="carousel-inner">
        {% for film_and_category in featured_films %}
          {% if forloop.counter0 == 0 %} <!-- forloop.counter0 enumerates items in featured_films from 0 -->
            <div class="carousel-item active">
              <div class="featured-film">
                <img src="{% static film_and_category.film.title|path_to_image %}" alt="{{film_and_category.film.title}}">
                <p class="film-title">{{film_and_category.film.title}}</p>
                <p class="film-category">{{film_and_category.category}}</p>
                <p class="film-description">{{film_and_category.film.description}}</p>
              </div>
            </div>
          {% else %}
            <div class="carousel-item">
               <div class="featured-film">
                <img src="{% static film_and_category.film.title|path_to_image %}" alt="{{film_and_category.film.title}}">
                <p class="film-title">{{film_and_category.film.title}}</p>
                <p class="film-category">{{film_and_category.category}}</p>
                <p class="film-description">{{film_and_category.film.description}}</p>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#featuredFilmsCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#featuredFilmsCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>
{% endblock content %}
