{% extends "base.html" %}
{% load static %}
{% load movies_app_filters_and_tags %}

{% block title %}Actors{% endblock title %}

{% block more_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'movies_app/css/actor_list.css' %}">
{% endblock more_css %}

{% block content %}
  <h1 class="text-center">All Actors</h1>
  <div class="container">
    <div id="actor-list" class="row">
      {% for actor in actor_list %}
        {% with full_name=actor.first_name|add:" "|add:actor.last_name %} {# full_name = actor.first_name + " " + actor.last_name #}
          <div class="col-sm col-md-4 col-lg-3 col-xl-2 actor">
            <a href="{{ actor.get_absolute_url }}">
              {# path_to_image is a filter defined in movies_app_filters_and_tags #}
              <img src="{% static full_name|path_to_image:False %}" alt="{{ full_name }}">
            </a>
            <p class="text-center"><a href="{{ actor.get_absolute_url }}">{{ full_name }}</a></p>
          </div>
        {% endwith %}
      {% endfor %}
    </div>
  </div>
{% endblock content %}
