{% extends "base.html" %}
{% load static %}
{% load movies_app_filters_and_tags %}

{% block title %}Films{% endblock title %}

{% block more_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'movies_app/css/film_list.css' %}">
{% endblock more_css %}

{% block content %}
  <h1 class="text-center">{{ list_title }}</h1>
  {% for film in page_obj %} {# page_obj stores the paginated list of films #}
    <div class="container">
      <div class="row border-bottom py-2">
        <div class="col-sm col-md-4 col-lg-3 col-xl-2 film-poster-container">
          <a href="{{ film.get_absolute_url }}">
           {# path_to_image is a filter defined in movies_app_filters_and_tags #}
            <img class="film_posters" src="{% static film.title|path_to_image %}" alt="{{film.title}}">
          </a>
        </div>
        <div class="col-sm col-md-8 col-lg-9 col-xl-10 film-text">
          <h3><a href="{{ film.get_absolute_url }}">{{ film.title }}</a></h3>
          <p><span class="film-details">Genre:</span> {{ film.filmcategory.category }}</p>
          <p><span class="film-details">Description:</span> {{ film.description }}</p>
        </div>
      </div>
    </div>
  {% endfor %}

  <!-- pagination -->
  <div class="pagination">
    {% if page_obj.has_previous %}
      <a href="?page=1">&laquo; First</a>
      <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}
    <p>Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}</p>
    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">Next</a>
      <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
    {% endif %}
  </div>
{% endblock content %}
