{% extends "base.html" %}
{% load static %}
{% load movies_app_filters_and_tags %}

{% block title %}{{ film.title }}{% endblock title %}

{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'movies_app/css/film_detail.css' %}">
  <main>
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8">
          <div id="film-poster">
            {# path_to_image is a filter defined in movies_app_filters_and_tags #}
            <img src="{% static film.title|path_to_image %}" alt="{{film.title}}">
          <h2>{{ film.title }}</h2>
          </div>
          <div id="film-info">
            <p><span class="film-details">Description:</span> {{ film.description }}</p>
            <p><span class="film-details">Genre:</span> {{film.filmcategory.category}}</p>
            <p><span class="film-details">Release Year:</span> {{film.release_year}}</p>
            <p><span class="film-details">Language:</span> {{ film.language }}</p>
            <p><span class="film-details">Rating:</span> {{ film.rating }}</p>
            {% if film.original_language %}
              <p><span class="film-details">Original Language:</span> {{ film.original_language }}</p>
            {% endif %}
            {# format_film_length is a custom filter defined in movies_app_filters_and_tags in templatetags folder #}
            <p><span class="film-details">Length:</span> {{ film.length|format_film_length }}</p>
          </div>
          <div id="starring-actors">
            <h3>Starring</h3>
            <ul>
              {% for actor in all_actors %}
                {% with full_name=actor.first_name|add:" "|add:actor.last_name %}
                  <li>
                    <a href="{{ actor.get_absolute_url }}">
                      {# path_to_image is a filter defined in movies_app_filters_and_tags #}
                      <img src="{% static full_name|path_to_image:False %}" alt="">
                      {{ full_name }}
                    </a>
                  </li>
                {% endwith %}
              {% endfor %}
            </ul>
          </div>
          <div id="film-available">
            {% if user.is_authenticated %}
              {% if film_availability %}
                <p>This film is available for rental</p>
                <p><a class="btn btn-primary rounded-pill" href="{% url 'film_rental' film.film_uuid %}">Rent</a></p>
              {% else %}
                <p>This film is not available for rental</p>
              {% endif %}
            {% else %}
              {# by adding ?next={{ request.path }} to the login url,  the user is returned to this page after successful login #}
              <p>Please <a class="btn btn-primary rounded-pill" href="{% url 'account_login' %}?next={{ request.path }}">log in</a> to see film availability</p>
            {% endif %}
          </div>
        </div>
        <div class="col col-lg-4">
          <div id="suggested-films">
            <h3>Suggested DVDs</h3>
            <ul>
              {% for film in suggested_films %}
                <li>
                  <a href="{{ film.get_absolute_url }}">
                    <img src="{% static film.title|path_to_image %}" alt="{{film.title}}">
                    <p class="ms-3">
                      <span class="film-details">{{film.title}}</span><br>
                      <span class="film-metadata">
                        {{film.filmcategory.category}}<br>
                        {{film.release_year}}<br>
                        {{ film.length|format_film_length }}
                      </span>
                    </p>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock content %}
